@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 m-0 font-sans antialiased;
  }
}

/* Custom Scrollbar for hidden scroll areas */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
